<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deleted employee List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Deleted Employees List</h1>

    <% if (deletions && deletions.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Role</th>
                    <th>Employee Number</th>
                 
                </tr>
            </thead>
            <tbody>
                <% deletions.forEach(employee => { %>
                    <tr>
                        <td><%= employee.name %></td>
                        <td><%= employee.email %></td>
                        <td><%= employee.salary %></td>
                        <td><%= employee.role %></td>
                        <td><%= employee.employeeNumber %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No Deleted Employees found.</p>
    <% } %>

    
</body>
</html>
